* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
}

header .aside {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;


  b {
    font-size: 20pt;
    font-family: sans-serif;
    margin-right: 15%;
  }
}

header .nav {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;

}

header nav,
li {
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .nav nav,
a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

header a:hover {
  color: burlywood;
}

header .order {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 10%;

  b {
    border: 1px solid gray;
    padding: 15px;
    font-size: 11pt;
    font-weight: 100;
    font-family: sans-serif;
    border-radius: 7px;
    background-color: #d16c13;
    color: #fff;
  }

  b:hover {
    background-color: #a55209;
  }
}

/* From Uiverse.io by risabbir */
/* .checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.checkbox {
  display: none;
}

.checkbox-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-flip {
  width: 30px;
  height: 30px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.4s ease;
}

.checkbox-front,
.checkbox-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  backface-visibility: hidden;
  transition: transform 0.3s ease;
}

.checkbox-front {
  background: linear-gradient(135deg, #ff6347, #f76c6c);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: rotateY(0deg);
}

.checkbox-back {
  background: linear-gradient(135deg, #36b54a, #00c1d4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: rotateY(180deg);
}

.checkbox-wrapper:hover .checkbox-flip {
  transform: scale(1.1);
  transition: transform 0.4s ease-out;
}

.checkbox:checked+.checkbox-label .checkbox-front {
  transform: rotateY(180deg);
}

.checkbox:checked+.checkbox-label .checkbox-back {
  transform: rotateY(0deg);
}

.checkbox:focus+.checkbox-label .checkbox-flip {
  box-shadow:
    0 0 15px rgba(54, 181, 73, 0.7),
    0 0 20px rgba(0, 193, 212, 0.4);
  transition: box-shadow 0.3s ease;
}

.icon-path {
  stroke: white;
  stroke-width: 2;
  fill: transparent;
} */

section {
  width: 100%;
  height: 700px;
  background-color: #00c1d4;
}

.con {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con1 h1 {
  font-size: 4rem;
  text-align: center;
}

.space {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(151, 72, 15);
}

main {
  width: 100%;
}

.products {
  width: 90%;
  height: 500px;
  display: flex;
}

.poster {
  width: 400px;
  height: 520px;
  border: 0px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px gray;
}

.poster:hover {
  box-shadow: 0px 3px 10px 2px gray;
}

.poster>img {
  border-radius: 10px 10px 0 0;
}

.poster>p {
  font-size: 1.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding-left: 25px;
  padding-top: 20px;
  color: #a55209;
}

.poster>small {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: normal;
  opacity: 70%;
  padding-left: 25px;
  padding-top: 20px;
}

.poster>.price-order {
  margin-top: 10px;
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.price-order>.price {
  width: 65%;
  font-size: 1.2rem;
  font-style: normal;
  font-family: sans-serif;
  font-weight: 600;
  color: #d16c13;
}

.order-box {
  border: 1px solid #d16c13;
  border-radius: 6px;
  width: 35%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.order-box>p {
  font-size: 1rem;
  font-family: sans-serif;
  color: #d16c13;
}

.order-box:hover {
  background-color: #fff9dc;

  p {
    color: black;
  }
}

.veiw-product {
  width: 15%;
  border: 1px solid white;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 14pt;
  background-color: #bc5d0b;
}

.veiw-product:hover {
  background-color: #984f0f;
}

article {
  width: 100%;
  height: 500PX;
  background-color: rgb(250, 245, 231);
}

.article-txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.article-txt>.text-outStory {
  width: 50%;
  height: 100%;
  padding: 5%;
  color: #333;

  h1 {
    font-size: 2.5rem;
    color: #984f0f;
  }

  p {
    font-size: 1.2rem;
    opacity: 85%;
  }
}

.learnmore-box {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 14pt;
  padding: 12px;
  border: 1px solid #984f0f;
  border-radius: 6px;
  background-color: #fff;
  color: #bc5d0b;
  margin-left: 0;
}

.learnmore-box:hover {
  background-color: #fff9dc;
}

.article-txt>.img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.margin {
  width: 85%;
  height: 80%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.main-info {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.products>.poster_info {
  width: 420px;
  height: 310px;
  border: 0px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px gray;
}

.poster_info:hover {
  box-shadow: 0px 3px 10px 2px gray;
}

.poster_info>img {
  border-radius: 10px 10px 0 0;
}

.txt_and_price {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 90%;

}

.txt_and_price p.bold {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 550;
  color: #984f0f;
}

.txt_and_price p.small {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 550;
  color: #984f0f;
}

.info_cafe {
  width: 90%;
  font-family: sans-serif;

  p {
    font-size: 17px;
    opacity: 70%;
  }

}

.coffee-event {
  width: 100%;
  height: 640px;
  background-color: #fff9dc;
}

.up-coming {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #984f0f;
}

.box-info {
  width: 90%;
  height: 370px;
  display: flex;
}

.box-of-info {
  width: 48%;
  height: 100%;
  border: 1px solid #fff;
  background-color: #FFF;
  border-radius: 6px;
}

.box-img {
  width: 100%;
  height: 170px;

  img {
    border-radius: 6px 6px 0 0;
  }
}

.date {
  margin-top: 10px;
  width: 95%;
  padding: 5px;
}

.date-box {

  small {
    background-color: #fdf2b6;
    color: #984f0f;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
  }
}

.coffee-tasting {
  width: 93%;
}

.coffee-tasting>.info-coffee-test {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;

  b {
    color: #984f0f;
    font-size: 18pt;
  }

  p {
    font-size: 12pt;
    color: black;
    opacity: 60%;
  }
}

.reserve-box {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  float: left;
  width: 20%;
  border: 1px solid #984f0f;
  color: #d16c13;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px;
}
.visit-us{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  
}
.all-of-visit {
  width: 90%;
  height:80%;
  /* background-color: #333; */
  display: flex;
  flex-direction: row;
  
}
.all-of-visit > .img-loc{
  width: 47%;
  height: 100%;
  
  img{
    border-radius: 8px;
  }
}
.all-of-visit > .visit-to{
  width: 45%;
  height: 100%;
  background-color: #fff;
}
.visit-to > b{
  font-size: 24pt;
  line-height: 1.7;
  color: #763a05;
  font-family: sans-serif;
}
.icon-and-txt{
  line-height: 1.5;
}
.icon{
  font-size: 16pt;
  word-spacing: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.txt-info{
  width: 90%;
  font-size: 12px;
  opacity: 70%;
  font-weight: normal;
  font-family: sans-serif;
}
.click{
  display: flex;
  float: left;
  gap: 15px;
}
.click > .pb1{
  border: 1px solid #bc5d0b;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500px;
  color: #fff;
  background-color: #a55209;
  border-radius: 6px;
}
.pb1:hover{
  background-color: #763a05;
}
.click > .pb2{
  border: 1px solid #bc5d0b;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #d16c13;
  border-radius: 6px;
}
.pb2:hover{
  background-color: #fdf2b6;
}
.email-join{
  width: 100%;
  height: 220px;
  background-color: #fdf2b6;
  display: flex;
  justify-content: center;
}
.txt-join{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: #763a05;
}
.txt-sub{
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: sans-serif;
  color: #984f0f;
}
.boxto{
  display: flex;
}
.input-submit{
  display: flex;
  justify-content: center;
  gap: 10px;

  input{
    width: 350px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 6px;
  }

  button{
    font-size: 16px;
    width: 100px;
    padding: 10px;
    border: 1px solid #bc5d0b;
    border-radius: 6px;
    background-color: #bc5d0b;
    color: rgb(231, 228, 228);
  }
}
button:hover{
  background-color: #984f0f;
}
.footer{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: ;
}